@font-face {
  font-family: "AvenirNextProLT";
  src: url("/assets/fonts/AvenirNextProLT/avenirnextltpro-regular.otf");
  font-weight: normal;
}

@font-face {
  font-family: "AvenirNextProLT";
  src: url("/assets/fonts/AvenirNextProLT/avenirnextltpro-demi.otf");
  font-weight: 500;
}

@font-face {
  font-family: "AvenirNextProLT";
  src: url("/assets/fonts/AvenirNextProLT/avenirnextltpro-bold.otf");
  font-weight: bold;
}

/* Hero Shows */
.hero-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url("../assets/images/show-hero-background.jpg");
  background-size: cover;
  background-position: center;
  height: 40rem;
  padding: 0 2rem;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 1200px) {
  .hero-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media screen and (min-width: 1200px) and (min-width: 1200px) {
  .hero-container {
    padding-left: 10rem;
    padding-right: 10rem;
  }
}

.hero__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  padding: 0 1rem;
}

.hero__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  padding: 0 1rem;
}

.hero__header {
  font-size: 2.2rem;
  line-height: 2.8rem;
  color: #ffffff;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .hero__header {
    font-size: 3.75rem;
    line-height: 4.25rem;
    color: #ffffff;
    font-weight: bold;
    padding: 0;
  }
}

.hero__header--shows {
  font-size: 2.2rem;
  line-height: 2.8rem;
  color: #ffffff;
  font-weight: bold;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .hero__header--shows {
    font-size: 3.75rem;
    line-height: 4.25rem;
    color: #ffffff;
    font-weight: bold;
    padding: 0;
  }
}

.hero__subheader {
  font-size: 1.25rem;
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
  font-weight: 500;
  color: #ffffff;
}

.hero__iframe {
  width: 17.5rem;
}

@media screen and (min-width: 768px) {
  .hero__iframe {
    width: 30rem;
  }
}

@media screen and (min-width: 1200px) {
  .hero__iframe {
    width: 22rem;
  }
}

/* Shows */
.shows__container {
  padding: 1rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 1200px) {
  .shows__container {
    padding-left: 10rem;
    padding-right: 10rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .shows__title {
    padding-top: 0.5rem;
    margin-right: 2rem;
  }
}

.show__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid #e1e1e1;
}

@media screen and (min-width: 768px) {
  .show__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.show__row--label {
  display: none;
}

@media screen and (min-width: 768px) {
  .show__row--label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    border-bottom: 0;
    padding-bottom: 0;
  }
}

.shows__table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.shows__label {
  font-size: 0.75rem;
  line-height: 1.25rem;
  color: #afafaf;
  text-transform: uppercase;
  width: 100%;
  text-align: left;
}

@media screen and (min-width: 1200px) {
  .shows__label {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .shows__label--mobile {
    display: none;
  }
}

.shows__label--hidden {
  visibility: hidden;
}

.show__info {
  margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {
  .show__info {
    margin-bottom: 0;
    width: 100%;
    text-align: left;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .show__info {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

.show__info--date {
  font-weight: 500;
}

.show__button {
  background-color: #323232;
  color: #ffffff;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  min-width: 100%;
}

@media screen and (min-width: 768px) {
  .show__button {
    min-width: 10rem;
  }
}
/*# sourceMappingURL=shows.css.map */