//Imports
@import "partials/variables";
@import "partials/mixins";
@import "partials/typography";

/* Hero Shows */
.hero-container {
    display: flex;
    background-image: url("../assets/images/show-hero-background.jpg");
    background-size: cover;
    background-position: center;
    height: 40rem;
    padding: 0 2rem;
    @include flex-column;

    @include desktop {
        @include flex-row;
        @include desktop {
            @include add-padd-desktop;
        }
    }
}




.hero__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 0 1rem;
}

.hero__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 0 1rem;
   
    
}

.hero__header {
    @include hero-header-mobile;

    @include tablet {
        @include hero-header-tablet;
        padding: 0;
    }

    &--shows {
        @include hero-header-mobile;
        padding: 0;

        @include tablet {
            @include hero-header-tablet;
            padding: 0;
        }
    }
}

.hero__subheader {
    @include subheader-mobile;
    color: $white;
}

.hero__iframe {
    width: 17.5rem;

    @include tablet {
        width: 30rem;
    }

    @include desktop {
        width: 22rem;
    }

}

/* Shows */
.shows__container {
    padding: 1rem 2rem;
    @include flex-column;

    @include desktop {
        @include add-padd-desktop;
        @include flex-row;
        width: 100%;
    }
}
.shows__title {
    @include desktop {
        padding-top: 0.5rem;
        margin-right: 2rem;
    }
}


.show__row {
    @include flex-column;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid $mercury;
    @include tablet {
        @include flex-row;
        justify-content: space-around;
        align-items: center;
    }
    
    &--label {
        display: none;
                
        @include tablet {
            @include flex-row;
            justify-content: space-around;
            border-bottom: 0;
            padding-bottom: 0;
        }
    }
}

.shows__table {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.shows__label {
    @include label-text;
    width: 100%;
    text-align: left;
    @include desktop {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    &--mobile {
        @include tablet {
            display: none;
        }
    }

    &--hidden {
        visibility: hidden;
    }
}

.show__info {
    margin-bottom: 1rem;
    
    @include tablet {
    margin-bottom: 0;
    width: 100%;
    text-align: left;
    @include desktop {
    margin-left: 1rem;
    margin-right: 1rem;
    }

    }
    &--date {
        font-weight: 500;
    }
}

.show__button {
    background-color: $black;
    color: $white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    min-width: 100%;

    @include tablet {
        min-width: 10rem;
    }
}
